@import url("https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text {
  font-family: "Finger Paint";
  font-size: 8rem;
  letter-spacing: -0.3rem;
  margin: 0 0 3rem;
  font-size: 300%;
  background: #03001e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fdeff9,
    #ec38bc,
    #7303c0,
    #03001e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
